<p id="notice"><%= notice %></p>

<h1>Listing Payment Infos</h1>

<table>
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Participant</th>
      <th>Share</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_infos.each do |payment_info| %>
      <tr>
        <td><%= payment_info.transaction_id %></td>
        <td><%= payment_info.participant_id %></td>
        <td><%= payment_info.share %></td>
        <td><%= payment_info.amount %></td>
        <td><%= link_to 'Show', payment_info %></td>
        <td><%= link_to 'Edit', edit_payment_info_path(payment_info) %></td>
        <td><%= link_to 'Destroy', payment_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment info', new_payment_info_path %>
