<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @payment_info.transaction_id %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @payment_info.participant_id %>
</p>

<p>
  <strong>Share:</strong>
  <%= @payment_info.share %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment_info.amount %>
</p>

<%= link_to 'Edit', edit_payment_info_path(@payment_info) %> |
<%= link_to 'Back', payment_infos_path %>
